@charset 'UTF-8';

a:link {color:black;  text-decoration: none;}      /* unvisited link */
a:visited {color:black;  text-decoration: none;}  /* visited link */
a:hover {color:#a4c3ca;}  /* mouse over link */
a:active {color:black;}  /* selected link */

body{
font-family: 'Raleway', sans-serif;
font-weight: 200;
}
#loadingDiv{
  background: url(loading.gif);
  position: static;
  display: none;
  height: 200px;
  width: 200px;
  background-size: 100%;
  margin: 0 auto;
}
#wrapper{
width: 600px;
margin: 0 auto;
min-height: 400px;
height: auto !important;
height: 400px;
overflow: auto;
}
#content{
  margin: 0 auto;
  width: 600px;
  margin-bottom: 20px;
  line-height: 1.7em;
}
#title{
  text-align: center;
  font-size: 78px;
  padding: 8px;
  font-weight: 500;
  color: #232B2B;
  padding-top: 20px;
  opacity: .9;
}
.image{
  height: auto;
  width: auto;
  max-width: 80%;
  max-height: 80%;
}
.imageContainer{
float: left;
height: 160px;
width: 180px;
max-width: 100%;
max-height: 100%;
background-size: 100%;
background-repeat: no-repeat;
background-position: center;
padding-left: 2px;
margin: 0 auto;
}
#results{
  width: 550px;
  margin: 0 auto;
}
.result{ 
float: left;
width: 500px;
margin: 0 auto;
min-height: 180px;
padding: 15px;
border-top: 1px solid;
margin-bottom: 10px;
font-family: 'Raleway', sans-serif;
font-weight: 400;
}
.resultcontainer {
  float: left;  
  margin: 1px 10px;  
  width: 810px;
  clear: left;
  padding: 5px;
  border-radius: 20px;
}
.title{
  font-size: 22px;
  font-weight: 500; 
  width: 500px;
  margin: 0 auto;
  float: left;
  clear: both;
  padding-bottom: 20px;
  font-family: Helvetica;

}
.retailer{
  float: right;
  font-size: 30px;
  clear: right;
  margin-top: 10px;
}
.price{
  font-size: 30px;
  float: right;
  clear: right;
  margin: 40px 0 0px 0px;
  font-weight: 100;
  font-family: Helvetica;
  text-shadow: -1px 1px rgba(51, 113, 71, 0.4);
  color: #78AB46;
}
.link{
 
  float: right;
  clear: right;
  padding-top: 10px;
  font-size: 25px;
}
#search{     
  height: 35px;
  padding: 15px;
  overflow: hidden; /* Clear floats */
  padding-bottom: 40px;
}

#searchbox
{
  outline: 0;
  float: left;
  padding: 5px 9px;
  height: 32px;
  width: 460px;
  border: 1px solid #a4c3ca;
  
  -moz-border-radius: 50px 3px 3px 50px;
   border-radius: 50px 3px 3px 50px;
             
}

/* ----------------------- */

#searchbutton
{   
font-size: 38px;
font-weight: 400;
padding-left: 10px;
float:left;
width:70px;
}

#searchbutton:hover
{   
font-style: italic;
font-size: 37px;
} 

#searchbutton:active
{   
  /*insert transition here maybe to be lame*/
  
}

#searchbutton::-moz-focus-inner
{
       border: 0;  /* Small centering fix for Firefox */
}   